/* Start Global Rules */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}
body > .loader {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-style: solid;
  border-color: #11c8d8 transparent #11a9b7 #11a9b7;
  border-width: 4px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}
/* End Global Rules */
/* Start Welcoming */
.welcome {
  user-select: none;
  max-width: 100%;
  width: 800px;
  margin: 100px auto 0px;
  background-color: #EEE;
  padding: 20px;
  border-radius: 10px;
}
.welcome .title {
  text-align: center;
  background-color: rgb(18, 207, 232);
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0px auto 30px;
  font-size: 25px;
  color: white;
  text-transform: uppercase;
}
.welcome .desc {
  background-color: #11a9b7;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  line-height: 2;
  color: rgb(233, 233, 233);
  border-radius: 10px;
}
.welcome .sample {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 30px;
  position: relative;
}
.welcome .sample .sign {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 0.3s;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0px;
  color: green;
  border-radius: 10px;
}
.welcome .sample .card {
  height: 100%;
  width: 100px;
  border-radius: 10px;
  font-size: 50px;
  background-color: #ffff;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  cursor: pointer;
}
.welcome .sample .card .inner-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffff;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  backface-visibility: hidden;
}
.welcome .sample .card .front {
  background-color: #333;
}
.welcome .sample .card .back {
  transform: rotateY(180deg);
}
.welcome .sample .card i {
  color: rgb(232, 42, 42);
}
.welcome .start {
  background-color: #11a9b7;
  border-radius: 10px;
  padding: 10px 50px;
  width: fit-content;
  margin: 30px auto;
  font-size: 25px;
  color: white;
  cursor: pointer;
  transition-duration: 0.3s;
}
.welcome .start:hover {
  background-color: #0094a1;
}
@media (max-width: 767px) {
  .welcome .title {
    font-size: 20px;
  }
  .welcome .desc {
    font-size: 16px;
  }
  .welcome .start {
    font-size: 15px;
    padding: 5px 25px;
  }
  .welcome .start:hover {
    background-color: #11a9b7;
  }
}
/* End Welcoming */
/* Start Game */
.game-container {
  user-select: none;
  max-width: 100%;
  width: 1000px;
  margin: 100px auto 0px;
  background-color: #EEE;
  padding: 20px;
  border-radius: 10px;
  position: relative;  
}
.game-container .sign {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  background-color: #EEE;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 50px;
}
.game-container .header {
  background-color: #11a9b7;
  padding: 20px;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}
.game-container .header .title {
  font-size: 30px;
  border-radius: 30px;
  border: 1px solid white;
  padding: 10px 20px; 
  background-color: #11c8d8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.game-container .header .time-left,
.game-container .header .score {
  border-radius: 10px;
  background-color: #11c8d8;
  border: 1px solid white;
  padding: 5px 10px;
  font-size: 18px;
}
.game-container .header .score span {
  color: #00ff15;
}
.game-container .header .time-left span {
  color: rgb(255, 208, 0);
}
.game-container .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.game-container .cards .card {
  height: 200px;
  flex-grow: 1;
  width: calc((100% / 8 ) - 5px);
  border-radius: 10px;
  font-size: 50px;
  background-color: #ffff;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  cursor: pointer;
}
.game-container .cards .card.active {
  transform: rotateY(-180deg);
}
.game-container .cards .card .face {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffff;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  backface-visibility: hidden;
}
.game-container .cards .card .front {
  background-color: #333 !important;
}
.game-container .cards .card .back {
  transform: rotateY(180deg);
}
.game-container .cards .card i {
  color: rgb(232, 42, 42);
}
@media (max-width: 567px) {
  .game-container {
    margin-top: 0px;
  }
  .game-container .header .title {
    display: none;
  }
  .game-container .cards .card {
    height: 100px;
    width: calc((100% / 4) - 5px);
  }
  .game-container .cards .card .face {
    font-size: 18px;
  }
  .game-container .sign {
    font-size: 25px;
  }
}
/* End Game */
/* Start You Won  */
.game-container .you-won {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #EEE;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game-container .you-won .you-won-sign {
  font-size: 30px;
  background-color: #00be4f;
  color: white;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid green;
}
.game-container .you-won .next {
  background-color: #0ec0d0;
  padding: 10px 20px;
  border-radius: 10px;
  width: fit-content;
  color: white;
  cursor: pointer;
  transition-duration: 0.3s;
}
.game-container .you-won .next:hover {
  background-color: #11a9b7;
}
@media (max-width: 767px) {
  .game-container .you-won-sign {
    font-size: 20px !important;
  }
  .game-container .you-won .next:hover {
    background-color: #0ec0d0;
  }
}
/* End You Won  */
/* Start You Lost */
.game-container .you-lost {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #EEE;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game-container .you-lost .you-lost-sign {
  font-size: 30px;
  background-color: rgb(175, 1, 1);
  color: white;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid red;
}
.game-container .you-lost .next {
  background-color: #0ec0d0;
  padding: 10px 20px;
  border-radius: 10px;
  width: fit-content;
  color: white;
  cursor: pointer;
  transition-duration: 0.3s;
}
.game-container .you-lost .next:hover {
  background-color: #11a9b7;
}
@media (max-width: 767px) {
  .game-container .you-lost-sign {
    font-size: 20px;
  }
  .game-container .you-lost .next:hover {
    background-color: #0ec0d0;
  }
}
/* End You Lost */
/* Start End Game View */
.end-game {
  user-select: none;
  max-width: 100%;
  width: 800px;
  margin: 100px auto 0px;
  background-color: #EEE;
  padding: 20px;
  border-radius: 10px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.end-game > h3 {
  width: fit-content;
  background-color: #11a9b7;
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 25px;
  margin-bottom: 30px;
}
.end-game .buttons {
  display: flex;
  gap: 30px;
}
.end-game .buttons .close-game,
.end-game .buttons .try-again {
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}
.end-game .buttons .try-again {
  background-color: #13c3d3;
}
.end-game .buttons .close-game {
  background-color: red;
}
.end-game .buttons .try-again:hover {
  background-color: #11a9b7;
}
.end-game .buttons .close-game:hover {
  background-color: rgb(218, 0, 0);
}
@media (max-width: 500px) {
  .end-game {
    margin-top: 200px;
  }
  .end-game > h3 {
    font-size: 14px;
  }
  .end-game .buttons .try-again,
  .end-game .buttons .close-game {
    font-size: 12px;
  }
  .end-game .buttons .try-again:hover {
    background-color: #13c3d3;
  }
  .end-game .buttons .close-game:hover {
    background-color: red;
  }
  
}
/* End End Game View */
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}